<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Book Notes</title>
</head>
<body>

    <header style="height: 150px;">
        <div class="hero">
            <img src="books.png" alt="book image" class="hero-image">
            <h1 class="hero-title">Book Notes</h1>
            <a href="/" class="hero-link">
                <p>Home</p>
            </a>            
        </div>
    </header>
    

    <div>
        <form class="book-search" action="/search" method="get">
            <input type="text" name="search" id="searchInput" autocomplete="off" placeholder="Enter book name, author or isbn">
            
            <div class="dropdown">
                <ul id="dropdownList"></ul>
            </div>
        </form>
    </div>