@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.buttons_style {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    border: none;
    cursor: pointer; 
    transition: background-color 0.0s, box-shadow 0.3s;
    background-color: #FFD0D0;
    color: #6F4E37;
}

.buttons_style:hover {
    background: #FFE5E5;
    color: #6F4E37;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    gap: 19px; 
}

.button-container a,
.button-container form {
    display: inline-block;
    margin-top: 25px;
}

button:hover {
    cursor: pointer;
}

ul {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #F9F5F6;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
    box-sizing: border-box;
    width: 100%;
    color: #FAF6F0; 
    background-color: #CA8787;  
    padding: 15px 20px;  
}

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;  
    margin: 0 auto;  
}

.hero img {
    height: 50px;
    margin-right: 15px;
}

.hero h1 {
    margin: 0;
    font-size: 24px;
}

.hero-link {
    margin-left: auto;  
}

.hero p {
    margin: 0;
    padding: 0 10px;  
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.book-search {
    margin-top: 25px;
    margin-bottom: 40px;
}

.dropdown {
    position: relative;
}

.listItem {
    display: flex;
    flex-direction: row;
}

.listItem>div p {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 5px;
}

.book-search input {
    width: 380px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}
.book-search input[type="submit"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    min-width: 50px;    
}

input[type="submit"]:hover{
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: none;
}

li {
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

.book {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.book>img {
    margin-top: 20px;
    margin-right: 20px;
    height: fit-content;
    min-width: 25%;
}

.books {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.sort-container {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    margin-bottom: 20px;
}
      
.sort {
    display: flex;
    align-items: center; 
    gap: 5px; 
}
         
.sort p {
    margin: 0;
}
      
.sort form {
    display: flex;
    align-items: center;
    margin: 0;
}
      

.sort select{
    margin-left: 10px; 
    padding: 10px 6px;
    font-size: 15px;
    text-align: l;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.sort input{
    margin-left: 10px;
}

.edit {
    margin-top: 1rem;
}

.checked {
    color: orange;
}

label>span:hover {
    cursor: pointer;
}

/* hide radio element */
input[type="radio"] {    
    position: absolute;
    left: -9999px;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Style for the checked radio button and all preceding stars */
input[type="radio"].selected + label .fa-star {
    color: gold; 
}

/* Style for the unchecked radio button */
input[type="radio"] + label .fa-star {
    color: grey; 
}


textarea {
    min-height: 300px;
    min-width: 700px;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;
}

.blank-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #CA8787;
    height: 78%;
    min-width: 25%;
    margin-top: 20px;
    margin-right: 20px;
}

.blank-cover>div {
    border: solid white 1px;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    padding: 20px;
}

.book-details{
    width: 75%;
}

footer {
    flex: 0 0 auto;
    color: #6F4E37;
    text-align: center;
    margin-top: 70px;
}
